.u_center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 0.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 1rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 2rem !important;
}
